# <B><h3> <center> <U>***Assignment***</u>:- 1 </h3></center></B>

### PART A : Variables

<B>Q1. Define what a variable in Python. Give an example.

In [ ]:
# A variable in python is a storage container that holds data , such as numbers ,texts, or lists that can be used and changed later in a program.
# Syntax: variable_name=value
# Eg: name="Palak"

<b>Q2. Create 3 variables x ,y and z with integer, float and string values. Print their types.

In [ ]:
x = 29
y = 3.4
z = "hello"
print(type(x))
print(type(y))
print(type(z))

<b>Q3. Swap the values of two variables without using a third variable.

In [8]:
a = 20
b = 40
print(f"Before swapping: a= {a},b= {b}")
#swapping values
a,b = b,a
print(f"After  swapping: a= {a},b= {b}")

Before swapping: a= 20,b= 40
After  swapping: a= 40,b= 20

<b>Q4. Assign a single value to multiple variables in one line. Show with an example

In [11]:
#assigning single value to multiple variables
a = b = c = 10000
print("a =", a)
print("b =", b)
print("c =", c)

a = 10000
b = 10000
c = 10000

<b>Q5. Assign multiple values to multiple variables in one line. Show with an example.

In [12]:
#assigning multiple values to multiple variables in one line
p , q , r = 10, "hii" ,3.14
print("p =" ,p)
print("q =" ,q)
print("r =" ,r)

p = 10
q = hii
r = 3.14

<b>Q6. Explain the difference between = and == with examples.

In [15]:
# '=' is an assignment operator that is used to assign a value to the variables.
#Eg:
x = 80  #'=' assigns value 80 to x
y = 80  #'=' assigns value 80 to y

# '==' is an comparison operator that is used to compare two values to check if they are equal or not and returns True if equal otherwise returns False.
#Eg:
print(x==y) #'==' compares values of x and y

True

<b>Q7. Write a program to calculate the area of a rectange using variables length and breadth.

In [18]:
#To calculate the area of rectangle
length= int(input("Enter the length of rectangle: "))
breadth= int(input("Enter the breadth of rectangle: "))
area = length * breadth #area
print("The area of rectangle is :" , area)

Enter the length of rectangle:  12
Enter the breadth of rectangle:  34

The area of rectangle is : 408

<b>Q8. Write a python program to compute the average of three numbers stored in variables.

In [20]:
#To calculate the average of three numbers
num1 = 3
num2 = 25
num3 = 14
avg=(num1+num2+num3)/ 3
print("The avrage of three numbers is:",avg)

The avrage of three numbers is: 14.0

<b>Q9. Create a variable a = 10 and b = 5. Perform addition, subtraction, multiplication, division ,modulus, and floor division.

In [24]:
a = 10
b = 5
#operations....
add= a + b
sub= a - b
multiply= a * b
div= a / b
modulus= a % b
floor_division= a // b
print("Additon:", add)
print("Subtraction:", sub)
print("Multiplication:", multiply)
print("Division:", div)
print("Modulus:", modulus)
print("Floor division:",floor_division)

Additon: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Modulus: 0
Floor division: 2

<b>Q10. What are constants? Explain with examples in python.

In [27]:
'''A constant is a variable whose value does not change throughout the execution of a program.
        There is no built-in constant type,but by convention , we use upper case letters to indicate a constant.'''
#Eg:
PI = 3.14159 #constant value
radius= 5
area = PI * radius * radius #area of circle 
print("Area of circle:" , area)

Area of circle: 78.53975

<b>Q11. Define variable naming rules in Python with correct and incorrect examples.

In [28]:
''' Rules for namimg variable....
   1). Variable name can contain letters(a-z) orr (A-Z) , digits (0-9) and underscore( _ ).
   2). Must start with a letter or underscore.
   3). Cannot start with a digit.
   4). They are case sensitive. (means age and Age are different variables.)
   5). Cannot use Python keywords ( eg: if, for, while, else, class etc.)
   6). No space allowed.(use underscore for space)

Eg: '''
#correct 
_age = 19
Age1 = 60
full_name = "PALAK CHAUHAN"
rollNumber = 47
print(_age , Age1 , full_name , rollNumber) 

'''Incorrect 
1age = 19
full-name = "Palak"
roll@number: 47
class = "CSE"
total score = 99
print(1gae , full-name , roll@number , class , total score)''' #Error will be shown.

19 60 PALAK CHAUHAN 47

<b>Q12. What is the difference between local and global variables? Demonstrate with code.

In [3]:
''' Variable can have different scopes depending on where they are defined.
    The two main types are:-
        a). Local variable: variables that are declared inside a function.
                scope: accessible only inside the function.
                lifetime: exists only while the function is executing.
        te
        b). Global variable: variables declared outside of any function , usually at the top of the program.
                    scope: accessible from anywhere in the program including inside functions.
                    lifetime: exists throughout the program execution.'''
#Eg:

#global variable
x = 50  
def demo():
    #local variable
    y = 20
    print("Inside function:")
    print("Global variable x=",x)
    print("Local variable y=",y)
demo()
print("\nOutside function:")
print("Global variable:",x)

Inside function:
Global variable x= 50
Local variable y= 20

Outside function:
Global variable: 50

<b>Q13. Show an example of dynamic typing in Python.

In [30]:
''' Dynamic typing means that a variable does not have a fixed data type .You can assign different value of different data type to the same variable.
    Python automatically adjusts the type based on the value at runtime '''
#Eg:
a = 25  # a is an integer
print(a , type(a))
a = 26.7 # a is a float
print(a , type(a))
a = "Good morning"  # a is a string
print(a , type(a))

25 <class 'int'>
26.7 <class 'float'>
Good morning <class 'str'>

<b>Q14. Explain type casting with an example of converting integer to float and string to integer.

In [32]:
'''Type casting is the process of converting a variable from one data type to another.
   Python supports explicit type casting , where you use functions like int(), float() and str() to convert between types.'''
 
#Converting integer to float 
num_int = 25    # integer
num_float =float(num_int)  #convert to float
print("Integer:", num_int, "Type:",type(num_int))
print("Float:" , num_float, "Type:", type(num_float))

#Converting string to integer
num_str = "10"
num_int = int(num_str)
print("string:" , num_str , "Type:",type(num_str))
print("s:" , num_str , "Type:",type(num_str))

Integer: 25 Type: <class 'int'>
Float: 25.0 Type: <class 'float'>

<b>Q15. Write a program to calculate the simple interest using variables.

In [2]:
#To calculate  simple interest...
P = 1000 #Principal amount
R = 10    #Rate of interest in %
T = 2    #Time (in years)
SI=(P * R * T)/ 100
print("Simple interest =", SI)

Simple interest = 200.0

<b>Q16. Store your name, age, and course name in variables. Print them using formatted string (f-string).

In [5]:
name = "Palak Chauhan"
age = 19
course = "Basics of Python"
print(f" My name is {name}, i am {age} years old and i am studying {course}.")

 My name is Palak Chauhan, i am 19 years old and i am studying Basics of Python.

<b>Q17. Write a program to swap two numbers using a temporary variable.

In [9]:
#To swap two numbers using  third variable...
x = int(input("Enter 1st no. : "))
y = int(input("Enter 2nd no. : "))
print("Before swapping : x=" ,x , "y=",y)
temp = x
x = y
y = temp
print("After swapping : x=" ,x , "y=" ,y)

Enter 1st no. :  12
Enter 2nd no. :  18

Before swapping : x= 12 y= 18
After swapping : x= 18 y= 12

<b>Q18. Explain mutable vs immutable objects. Which category does a string belong to?

In [14]:
'''In python everything is treated as an object , but objects differ in their values whether they can be changed after creation or not.
   a). Mutable objects: their value can be modified after creation.
       when you modify them , the same memory location is updated.
       #Eg: list, dictionary , sets. '''

l1 = [1,4,7,8]
l1.append(9)
print(l1)

''' b). Immutable objects: their value cannot be modified after creation.
        Any modificaton creates a new object in memory.
        #Eg: tuple, string ,int , float. '''

name = "Good"
name = name + " morning" #'Good' string remain unchanged. only a new string object was created.
print(name)

#-----> String is an immutable object in python. Cannot change its character directly. Any modification creates a new string.

[1, 4, 7, 8, 9]
Good morning

<b>Q19. Write a program to convert temperature from celsius to Fahrenheit using variables.

In [18]:
#To  convert  temperature from celsius into fahrenheit....
celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit= (celsius * 9/5) + 32    #celsius to fahrenheit
print(f" Tenperature in Fahrenheit: {fahrenheit}")

Enter the temperature in Celsius:  45

 Tenperature in Fahrenheit: 113.0

<b>Q20. Create a variable radius. Calculate the area and circumference of circle.

In [21]:
#To calculate the area and circumference of a circle...
radius = float(input("Enter radius of circle : "))
area = 3.14 * radius * radius
circumference = 2 * 3.14 * radius
print(f" Area of circle: {area}")
print(f" Circumference of circle: {circumference}")

Enter radius of circle :  6

 Area of circle: 113.03999999999999
 Circumference of circle: 37.68

<b>Q21. Demonstrate concatenation of integer and string with type coonversion.

In [8]:
#concatenation of integer and string using type conversion...
junkFood = "pizza"
num = 2
#converting integer into string..
result = "I ate " + str(num)+ " " +  junkFood + " today."
print(result)

I ate 2 pizza today.

<b>Q22. What happens if you see an undefined variables in Python? Show an example.

In [17]:
''' If we try to use an undefined variable means the variable that hasn't been assigned any value.
    Python checks whether the variable exists in memory or not.
    If not then python will raise an NmaeError.'''
'''Eg:-
#Trying to print an undefined variable
print(number)    #output:- NameError : name 'number' is not defined'''

#correct example
number = 12
print(number)

12

<b>Q23. Write a program to calculate the perimeter of a triangle using variables.

In [18]:
#To calculate the perimeter of a triangle 
s1 = float(input("Enter 1st side: "))
s2 = float(input("Enter 2nd side: "))
s3 = float(input("Enter 3rd side: "))
perimeter = s1 + s2 + s3
print(f"The perimeter of triangle is: {perimeter}")

Enter 1st side:  12
Enter 2nd side:  12
Enter 3rd side:  14

The perimeter of triangle is: 38.0

<B>Q24. Store marks of 5 subjects in variables . Calculate and print total and percentage.

In [21]:
#To calculate the total and percentage of 5 subjects..
sub1 = float(input("Marks of 1st subject: "))
sub2 = float(input("Marks of 2nd subject: "))
sub3 = float(input("Marks of 3rd subject: "))
sub4 = float(input("Marks of 4th subject: "))
sub5 = float(input("Marks of 5th subject: "))
total= sub1 + sub2 + sub3 + sub4 + sub5
percentage = (total / 250)* 100      #suppose marks are given out of 50 
print("Total= ",total)
print("Percentage= ",percentage ,"%")

Marks of 1st subject:  45
Marks of 2nd subject:  28
Marks of 3rd subject:  30
Marks of 4th subject:  50
Marks of 5th subject:  48

Total=  201.0
Percentage=  80.4 %

<b>Q25. Explain the difference between is and == operators with examples.

In [4]:
'''  'is' and '==' are both comparison operators , but their use is different.
    a). '==' : It is used to check whether the values of two objects are the same.
                Does not care whether they are stored in the same memory location .'''
#Eg:
a = 40
b = 40
print(a==b) #values are  equal

''' b). 'is' : It is used to check whether both variables refer to the same object in the memory .
                Return True only if both point to exactly the same object. '''
#Eg:
a = [4,2,0]
b = [4,2,0]
print(a is b)   #same objects in memory.

True
False

### PART B : *Strings*

<b>Q26. Define  what a string is in python. Give 3 examples of string declarations.

In [9]:
''' A string is a sequence of characters enclosed within single quotes ' ' orr double " ". Strings can contain letters, numbers, symbols or even spaces.
    String are immutable , which  means once a string is created, it cannot be changed.'''
#Eg:

#using single quotes
festival = 'Diwali'
#using double quotes
day = "monday"
#using triple quotes
month ="""October"""
print(festival , day, month)

Diwali monday October

<b>Q27. Write a program to print your name in uppercase , lowercase and title case.

In [10]:
name=input("Enter your name: ")
#convert to uppercase
print("In uppercase: ",name.upper())
#convert to lowercase
print("In lowercase: ",name.lower())
#convert to title case
print("In title rcase: ",name.title())

Enter your name:  palak chauhan

In uppercase:  PALAK CHAUHAN
In lowercase:  palak chauhan
In title rcase:  Palak Chauhan

<b>Q28. Find the length of a string using len().

In [11]:
#To find the length of the string

greeting = "Hii everyone!"
length = len(greeting)
print("The length of the string is : ",length)

The length of the string is :  13

<b>Q29. Concatenate two strings and print the result.

In [13]:
# String concatenation

string1 = "Unisole"
string2 = "Empower"
result = string1 + " " +string2
print("Concatenated string : ",result)

Concatenated string :  Unisole Empower

<b>Q30.  Extract the first 5 characters of the string "Unisole Empower".

In [16]:
#To extract the first 5 characters of the string...

text="Unisole Empower"
five_letters = text[0:5]   # from index 0 to 4
print("First five chracters: ",five_letters)

First five chracters:  Uniso

<b>Q31. Extract the last 4 characters of the string "DataScience".

In [17]:
#To extract the last 4 characters of the string....

text="DataScience"
last_four = text[-4:]  #from index to -4 to the end 
print("Last four characters: ",last_four)

Last four characters:  ence

<b>Q32. Write a program to reverse a string.

In [18]:
#To reverse a string

text = "Unisole"
reversed_text = text[::-1]
print("original string= ",text)
print("Reversed string= ",reversed_text)

original string=  Unisole
Reversed string=  elosinU

<b>Q33. Check if a substring "Empower" exists in "Unisole Empower".

In [2]:
text = "Unisole Empower"
substring = "Empower"

if substring in text:
    print("Substring exists")
else:
    print("Substring does not exists

Substring exists

<b>Q34.  Replace "Python" with "Data Science" in the string "I am learning Python".

In [4]:

text= "I am learning Python"
new_text = text.replace("Python","Data Science")
print("After replacement: ",new_text)

After replacement:  I am learning Data Science

<b>Q35. Remove spaces from the string "Hello World".

In [5]:

text = "Hello World"
no_space = text.replace(" ","")
print("After removing space: ",no_space)

After removing space:  HelloWorld

<b>Q36. Split the string "apple, banana, mango" into a list.

In [6]:

text = "apple, banana, mango" 
text_list = text.split(",")
print(text_list)

['apple', ' banana', ' mango']

<b>
Q37.  Join the list  ["AI","ML","DL"]  into a string with - separator.

In [10]:

l1 =  ["AI","ML","DL"] 
join_string = "-".join(l1)
print(join_string)

AI-ML-DL

<b>Q38.  Write a program to count the number of vowels in a string.

In [11]:

text = "good morning"
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count+=1
print("Number of vowels:", count)

Number of vowels: 4

<b>Q39.  Check if a string is palindrome or not

In [86]:

text = "naman"
if text == text[::-1]:
 print("String is Palindrome")
else:
  print("String is not a Palindrome")

String is Palindrome

<b>Q40.  Write a program to print each character of a string on a new line .

In [14]:

text = "DATA"
for char in text:
    print(char)

D
A
T
A

<b>
Q41. Convert "12345" (string) into integer and perform addition with another integer.

In [15]:

text = "12345"  #string
num = int(text)
addition = num + 100
print("Additon: ",addition)

Additon:  12445

<b>Q42.   Find the index of "E"  in "Empower".

In [20]:

text = "Empower"
index = text.index("E")
print(f"Index of E is : {index}")

Index of E is : 0

<b>Q43. Use slicing to print characters from index 2 to 6 of "DataScience".

In [21]:

text= "DataScience"
sl_text= text[2:7]   #index from 2 to 6
print(sl_text)

taSci

<b>Q44.  Demonstrate difference between single quotes, double quotes, and triple quotes.

In [24]:

singel_text = 'Hii'
double_text = "bye"
triple_text = """Good   
 night"""                #allows multi-line string
print(singel_text)
print(double_text)
print(triple_text)

Hii
bye
Good
 night

<b>Q45. Format a string using the .format() method. Example: "My name is { } , I am { } years old".

In [29]:

name = "Palak Chauhan"
age = 19
frmt_text = "My name is {} , I am {} years old.".format(name, age)
print(frmt_text)

My name is Palak Chauhan , I am 19 years old.

<b>Q46. Count how many times "a" appears in "banana".

In [34]:

fruit = "banana"
count_a = fruit.count("a")
print("Number of a: ",count_a)

Number of a:  3

<b>Q47.  Write a program to check if a string starts with "Uni" and ends with "wer".

In [36]:

a_string = "Unisole Empower"
if a_string.startswith("Uni") and a_string.endswith("wer"):
    print("Condition satisfied!")
else:
    print("Condition not satisfied!")

Condition satisfied!

<b>Q48.  Explain string immutability with an example.

In [39]:
# Strings in python are immutable, means you cannot change a character directly but you can concatenate a new string.
#Eg:
text = "hola"
#text[0] = "H"   #this will generate an error...

#correct example..
new_text = "H" + text[1:]
print(new_text)

Hola

<b>Q49.  Write a program to remove all digits from the string "Unisole123Empower456".

In [46]:

a_string = "Unisole123Empower456"
no_digits =''.join(char for char in a_string if not char.isdigit())
print(no_digits)

UnisoleEmpower

<b>Q50. Write a program to check if a string contains only alphabets.

In [48]:

text = "Python3.13"
if text.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contains only alphabets.")

The string does not contains only alphabets.

<b>Q51.  Write a program to check if a string contains only digits.

In [50]:

text = "2405050"
if text.isdigit():
   print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

The string contains only digits.

<b>Q52.  Create a multi-line string and print it.

In [51]:
#To create a multi-line string

text = """This is a 
multi-line string
in Python."""
print(text)

This is a
multi-line string
in Python.

<b>Q53. Write a program that takes a string input from the user and prints it in reverse.

In [81]:
#To reverse  a string 
text =input("Enter a string: ")
rev_string = text[::-1]
print("In reverse: ",rev_string)

Enter a string:  unstopable

In reverse:  elbapotsnu

<b>Q54. Explain raw strings with an example.

In [55]:
'''Raw strings treat backlashes(\) as normal characters and do not interpret them as escape sequences.
    r"" before the quotes makes it a raw string.'''
#Eg:

normal = "C:\new\folder"
raw = r"C:\new\folder"
print("Normal string: ",normal)
print("Raw string: ",raw)

Normal string:  C:
ewolder
Raw string:  C:\new\folder

<b>Q55.  Write a program to capitalize the first letter of each word in a string.

In [56]:

a_stringg = "harry potter"
capitalized_text = a_stringg.title()
print(capitalized_text)

Harry Potter

<b>Q56. Check if string is a valid email address.

In [80]:
#To check if string is a valid email or not

email = input("Enter your email address:")

if "@" in email and "gmail" in email and ".com" in email and email.index("@")<email.rindex("."):
    print("Valid email address")
else:
    print("Invalid email address!")

Enter your email address: palak@gmail

Invalid email address!

<b>Q57.  Extract the protocol  (http or https) from a URL string.

In [59]:

url = "https://www.youtube.com/"
protocol = url[0:5]
print("Protocol: ",protocol)

Protocol:  https

<b>Q58.  Find the frequency of each character in a string.

In [69]:
#To find the frequency of each character in a string...
text = "banana"
freq = {}
for char in text:
    if char in freq:
        freq[char] += 1 #increase the count
    else:
        freq[char] = 1 #add new character with count 1
print("Character frequencies: ",freq)

Character frequencies:  {'b': 1, 'a': 3, 'n': 2}

<b>Q59.  Check if strings are anagrams.

In [63]:
# Two strings are anagrams if they have same characters in different orders. Eg: dusty-study , earth-heart etc.
#Eg:-
str1 = "dusty"
str2 = "study"
if sorted(str1) == sorted(str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

<b>Q60.  Encode a string using a Caesar Cipher.

In [83]:
### Caesar cipher is a simple encryption technique where each letter in a text is shifted by a fixed number of positions in the alphabet.

text = "HELLO"
shift = 3
encoded =""

for char in text:
    if char.isalpha():       #check if character is a letter
        #convert to uppercase(A=65 in ASCII)
        encoded +=chr((ord(char)-65 + shift) % 26 + 65)
    else:
        encoded +=char #non-alphabetical remain same
print("Encoded string: ",encoded)

Encoded string:  KHOOR

<b>
Q61. Decode a Caesar Cipher encoded string.

In [84]:
#To decode a Caesar cipher , you shift each letter in opposite direction by the same shift value that was used to encode it.(-3)

encoded_text = "KHOOR"
shift = 3
decoded = ""

for char in encoded_text:
    if char.isupper():   #handle uppercase letter
        decoded += chr((ord(char)-65-shift)% 26 + 65)
    elif char.islower():  #handle lowercase letter
        decoded += chr((ord(char)-97-shift)% 26 + 97)
    else:
        decoded +=char #non-alphabetic characters stay same
print("Decoded string:",decoded)

Decoded string: HELLO

<b>
Q62. Find all unique words in a string.

In [64]:
#To find all the unique values in a string...

text = "Fred fed Ted bread and Ted fed Fred bread"
words = text.split()   #.split() method splits the string into a list of words.
unique_word = set(words)  #a set removes duplicate values
print("Unique words: ",unique_word)

Unique words:  {'fed', 'Fred', 'bread', 'Ted', 'and'}

<b>Q63.  Remove the nth word from a string.

In [67]:
#To remove a nth word from a string
text = "I love playing mobile games."
n = 4    #remove 4th word
words = text.split()
if 0 < n <= len(words):
    words.pop(n-1)
    new_text = " ".join(words)
    print("After removal: ",new_text)
else:
    print("Invalid!!")

After removal:  I love playing games.

<b>Q64.  Insert a word at the nth position in the string.

In [68]:
#To insert a word at nth position in a string 

text = "I am in learning Data science."
to_insert = "interested"
n = 3  #insertion at 3rd position

words = text.split()
if 0 < n <= len(words) + 1:
    words.insert(n-1, to_insert)
    new_text = " ".join(words)
    print("After insertion: ",new_text)
else:
    print("Invalid!!")

After insertion:  I am interested in learning Data science.